extends layout

block content
    .container
        h1 #{title}
        .row
            .col-sm-6
                figure.figure
                    img.figure-img.img-fluid.rounded(src='/images/me.jpg' alt='My photo')
            .col-sm-6
                
                p My name is Shane Weickum, I have been a resident of Washington my whole life.
                p started coding as a hobby and it has now become something I am passionate about. My   goal now it to turn it in to a career. I am a self-taught developer and have been     coding for two years. I am hoping to work for a company that will challenge me        and encourage growth and development. Feel free to contact me with questions or       job opportunities.

                hr

                .container
                    h3 Education
                    .container.border-dark.clearfix
                        h5 (EDCC) Edmonds Community College
                        h6 - Associates in General Studies
                            p.float-right -2017
        .row
            .col-sm-12
                h2 Skills
                hr
                .progress
                    .progress-bar.bg-success(style='width: 80%') HTML5, CSS3, Bootstrap
                .progress
                    .progress-bar.bg-success(style='width: 50%') JavaScript, jQuery
                .progress
                    .progress-bar.bg-success(style='width: 65%') NodeJS, Express, MongoDB, Pug
                .progress
                    .progress-bar.bg-success(style='width: 30%') AngularJS, VueJS
                .progress
                    .progress-bar.bg-success(style='width: 50%') p5.js, Python, Three.JS

        .row
            .col-sm-6
                h3 Extras
                hr
                .list-group
                    h5.list-group-item mLab: Cloud-Hosted MongoDB
                    h5.list-group-item Github
                    h5.list-group-item Heroku
                    
                     


            .col-sm-6
                h3.space
                hr
                p Here is a list of other technologies I have had experience with and exposure to.
                ul.list-group
                    li.list-group-item
                        a(href='https://sweick23.github.io/threeJS/', target='_blank') Three.JS/webGL
                    li.list-group-item
                        a(href='https://github.com/sweick23/learning-python', target='_blank') Python
                    li.list-group-item
                        a(href='https://github.com/sweick23/todo_on_rails', target='_blank') Ruby on Rails
                    li.list-group-item
                        a(href='https://sweick23.github.io/minesweeper-p5.js/', target='_blank') p5.js
                    li.list-group-item
                        a(href='https://github.com/sweick23/C-Programming', target='_blank') C Programming
                    li.list-group-item
                        a(href='https://sweick23.github.io/tetris.js/', target='_blank') HTML5 Canvas
                    li.list-group-item
                        a(href='https://github.com/sweick23/Blog-API', target='_blank') Mocha/Chai

